@import '@scss/variables';
@import '@scss/mixins';

.density {
  position: relative;

  &--info {
    overflow: hidden;
    @include titleFont;
    font-size: 13px;
    font-weight: 500;
    position: absolute;
    top: 20px;
    left: 0;

    > p {
      color: transparentize($main-color, .25);
      > strong {
        color: $main-color;
        padding-left: 2px;
      }
    }
  }
}