@import '@scss/variables';
@import '@scss/mixins';

.charts-grid-item {
  max-height: 100%;
  max-width: 100%;
  display: inline-grid;
  text-decoration: none;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(230px, 260px) 36px;
  color: $main-color;
  text-decoration-color: $main-color;

  &:hover {
    text-decoration: underline;
  }
  
  &--image {
    padding: 15px;
    background-origin: content-box;
    border: 1px solid #dddcde;
    border-radius: 5px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  &--title {
    @include titleFont;
    font-weight: 500;
    font-size: 14px;

    @include mq('tablet') {
      font-size: 16px;
    }
  }
}